/* *{
	margin: 0;
	padding: 0;
} */
body {
	font-family: 'Montserrat';
}

.main {
	display: flex;
	background-color: #f5f7fa;
	width: 1200px;
	margin: 0 auto;
}

.education {

}

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts, .tech-skills, .soft-skills {
	margin-left: 40px;
}

.contacts {
	margin-bottom: 50px;
}

.sidebar-title {
 	color: #ffff;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}

.contact-type {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	margin-right: 8px;
}

.cotact-link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0.5;
}

.skills-list {
	color: white;
	padding: 0px;
	margin-left: 16px;
}

.skills-item {
	color: #FB6D3A;
}

.skills-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
}