*{
    margin: 0;
    padding: 0;
}
body { /*dfh*/
	font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #f5f7fa;
}
.main{
	display: flex;
	flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);}
h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 8px;}
h1{
	font-size: 45px;
	line-height: 55px;}
h2 {
	font-size: 22px;
	line-height: 27px;}
h3 {
	font-size: 16px;
	line-height: 20px;}
h4 {
	font-size: 14px;
	line-height: 17px;}
p, li {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;}

  .contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 8px;
  }
ul, ol{
  list-style-position: inside;}
aside {
	width: 300px;
	min-width: 300px;
	/* height: 100vh;  */
  background-color: #1E2939;
  color: aliceblue;
}
aside ul {
  color: #FB6D3A;}

  .skills-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }
  
aside a {
  opacity: 0.5;
  color: #FFFFFF;}
aside div {
	padding-left: 40px;
  margin-top: 48px;}
img {
	width: 100%;
	padding-top: 48px;
}
.main-content {
	padding: 100px 64px;
	display: flex;
	flex-direction: column;
	gap: 40px;}
  .about {
    width: 500px;
}
.name {
  margin-top: 19px;
  margin-bottom: 24px;
}
.project-list li {
  font-weight: 700;
font-size: 14px;
line-height: 24px;
}
.project-link {
  font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
margin-left: 16px;
}
.project-link span {
color: black;
font-weight: 700;
font-size: 14px;
line-height: 24px;
}
.orange {
  color: #FB6D3A;
}
.work-exp, .education, .projects {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.period {
  color: #A8A8A8;
}
.period span {
  color: black;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  margin: 0 8px;
}